*.apk
*.aar
*.aab
*.ap_
*.dex
*.class
/build/
/out/
/bin/
/gen/
proguard/
lint/
local.properties
*.iml
/.idea/
.idea/gradle.xml
.gradle/
!gradle/wrapper/gradle-wrapper.jar
*.jks
*.keystore
keystore.properties
.externalNativeBuild/
.cxx/
/obj/
*.log
/captures/
.navigation/
.DS_Store

